@import url(../css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: var(--color-primary);
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 25px;
  color: var(--font-color);
  text-align: center;
  line-height: 40px;
  text-transform: capitalize;
  width: 89%;
  margin: auto;
}

h2 span {
  color: #50e3c2;
}

.btnRadius {
  border: 1px solid var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--font-color);
  letter-spacing: 0;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  background: var(--color-primary);
  margin: 78px auto 79px;
  display: none;
}

.btnRadius:hover {
  background: var(--font-color);
  color: var(--color-primary);
}

.displayNone {
  display: none;
}

@-webkit-keyframes twinkle {
  0% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  10% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #94bdb4 100%);
  }
  15% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  20% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  25% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  30% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #9dcdc2 100%);
  }
  35% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  40% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  45% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  50% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #94bdb4 100%);
  }
  55% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  60% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #94bdb4 100%);
  }
  65% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  70% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  75% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  80% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #9dcdc2 100%);
  }
  85% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  90% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  95% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  100% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
}

@keyframes twinkle {
  0% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  10% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #94bdb4 100%);
  }
  15% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  20% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  25% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  30% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #9dcdc2 100%);
  }
  35% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  40% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  45% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  50% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #94bdb4 100%);
  }
  55% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  60% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #94bdb4 100%);
  }
  65% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  70% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  75% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  80% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #9dcdc2 100%);
  }
  85% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 30%, #5bdbbf 100%);
  }
  90% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #b5dfd6 100%);
  }
  95% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
  100% {
    background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
  }
}

@-webkit-keyframes rotateAxisY {
  0% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-filter: blur(7px);
            filter: blur(7px);
  }
}

@keyframes rotateAxisY {
  0% {
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-filter: blur(7px);
            filter: blur(7px);
  }
}

@-webkit-keyframes rotateAxisX {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateAxisX {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.theme-light {
  --color-primary: #FFFFFF;
  --color-secondary: #F3F5F8;
  --font-color: #572EE5;
  --font-color-secondary: #000000;
  --burguer-background:  rgba(87, 46, 229, 0.9);
}

.theme-dark {
  --color-primary: #37383C;
  --color-secondary: #222326  ;
  --font-color: #FFFFFF;
  --font-color-secondary: #FFFFFF;
  --burguer-background: #000000;
}

.navBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5.86%;
  padding-right: 6.93%;
  padding-top: 29px;
  border-top: 5px solid var(--burguer-background);
  margin-bottom: 24.2px;
}

.navBar .logo {
  width: 56px;
}

.navBar .navMenu {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 484px;
  background: var(--burguer-background);
  z-index: 1000;
}

.navBar .navMenu li {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.navBar .navMenu hr {
  width: 10.93%;
  margin: auto;
  border-top: px solid rgba(87, 46, 229, 0.5);
}

.navBar .navMenu a {
  text-decoration: none;
  color: #FFFFFF;
}

.navBar .navMenu #createGifNav {
  width: 54px;
  height: 54px;
  margin: auto;
  background: var(--burguer-background);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  margin-top: 20px;
  line-height: 51px;
}

.navBar .navMenu #createGifNav:active {
  color: #FFFFFF;
  background: #9CAFC3;
}

header h1 {
  width: 76.27%;
  margin: 24.2px auto 0;
  font-size: 25px;
  color: var(--font-color);
  text-align: center;
  line-height: 33px;
}

header h1 span {
  color: #50e3c2;
}

header .imageHeader {
  width: 72.8%;
  display: block;
  margin: 31px auto 0;
}

header #ilustraHeader {
  display: block;
}

.sectionSearch {
  margin-bottom: 45px;
}

.sectionSearch .trendingDescription {
  width: 60%;
  text-align: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.sectionSearch .trendingDescription span {
  color: var(--font-color);
  font-weight: 400;
  line-height: 25px;
  text-transform: capitalize;
  font-size: 14px;
}

.sectionSearch .search {
  background: var(--color-primary);
  border: 1px solid var(--font-color);
  border-radius: 27px;
  margin: 0 auto;
  min-height: 50px;
  width: 89.06%;
}

.sectionSearch .search input {
  padding-left: 10px;
  border: 0px none white;
  margin: 15px auto;
  display: block;
  width: 85%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
  background: var(--color-primary);
}

.sectionSearch .search input:focus {
  outline: none;
}

.sectionSearch .search .searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.sectionSearch .search .searchContainer #searchingIcon {
  display: none;
}

.sectionSearch .search .searchContainer input {
  margin-left: 5px;
}

.sectionSearch .search .searchSuggestion {
  display: none;
  margin: 0 20px;
}

.sectionSearch .search .searchSuggestion hr {
  width: 91.65%;
  margin: auto;
  border-top: 1px solid #9CAFC3;
}

.sectionSearch .search .searchSuggestion p {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #9CAFC3;
  text-align: left;
  margin: 0 0 0 15px;
}

.sectionSearch .search .searchSuggestion img {
  width: 15.8px;
  height: auto;
}

.sectionSearch .search .searchSuggestion .containerFlex {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionSearch h3 {
  font-size: 16px;
  color: var(--font-color);
  text-align: center;
  line-height: 25px;
  margin-top: 31px;
}

.sectionResults {
  display: none;
  margin-bottom: 74px;
}

.sectionResults hr {
  margin: 35px auto 43px;
  width: 157px;
  opacity: 0.5;
  border: 1px solid #9cafc3;
}

.sectionResults .searchGif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 21px;
          column-gap: 21px;
  row-gap: 25px;
  justify-items: center;
  width: 88.8vw;
  margin: 38px auto 0;
}

.sectionResults .searchGif img {
  width: 41.6vw;
}

.sectionResults .searchGifWithoutResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88.8vw;
  margin: 87px auto 0 auto;
}

.sectionResults .searchGifWithoutResult img {
  width: 41.6vw;
}

.sectionResults .searchGifWithoutResult h3 {
  margin-top: 29px;
  margin-bottom: 0;
  color: #50E3C2;
  font-size: 22px;
  text-align: center;
}

.sectionResults img {
  display: block;
  width: 28px;
  margin: 22px auto 7px auto;
}

.trending {
  background: VAR(--color-secondary);
}

.trending h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color);
  text-align: center;
  line-height: 30px;
  padding-top: 46px;
}

.trending #pMobile,
.trending #pDesktop {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--font-color-secondary);
  text-align: center;
  line-height: 23px;
}

.trending #pDesktop {
  display: none;
}

.trending .trendingGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: scroll;
  margin: 32px 0px 82px 0px;
}

.trending .trendingGif .gifTrendingContainer {
  position: relative;
  margin: 0px 11px 0 11px;
}

.trending .trendingGif .gifTrendingContainer:first-of-type {
  margin-left: 22px;
}

.trending .trendingGif .gifTrendingContainer .divHover {
  background-color: rgba(87, 46, 229, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.trending .trendingGif .gifTrendingContainer .divHover .divHover__infoGif {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 7px;
  left: 14px;
}

.trending .trendingGif .gifTrendingContainer .divHover .divHover__infoGif .divHover__infoGif--usr {
  font-size: 15px;
  color: #ffffff;
  text-align: left;
  font-weight: 100;
}

.trending .trendingGif .gifTrendingContainer .divHover .divHover__infoGif .divHover__infoGif--title {
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  padding: 0;
  line-height: 19px;
}

.trending .trendingGif .gifTrendingContainer .divHover .divHover__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.trending .trendingGif .gifTrendingContainer .divHover .divHover__icons .divHover__button {
  margin-right: 11px;
  width: 32px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid var(--burguer-background);
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-secondary);
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 47px;
  margin-bottom: 23px;
}

footer .socialMedia {
  margin: 1px 0 0px;
}

footer .socialMedia a:link, footer .socialMedia a:visited, footer .socialMedia a:active {
  text-decoration: none;
}

footer .socialMedia a img {
  margin-right: 19px;
  width: 20px;
  height: 20px;
}

.gifMax {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 0;
  z-index: 1000;
}

.gifMaxClose {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10.48%;
  margin-top: 64px;
}

.gifMaxGif {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 84.8%;
  margin-top: 78px;
}

.gifMaxDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 84.8%;
}

.gifMaxDetails .gifMaxDescript {
  width: 72%;
}

.gifMaxDetails .gifMaxDescript h4 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.gifMaxDetails .gifMaxIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
}

.gifMaxDetails .gifMaxIcons img {
  width: 32px;
}

.sectionCreateGif {
  display: none;
  width: 95%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCreateGif .cameraContainer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.sectionCreateGif .cameraContainer #cameraImg {
  width: 90px;
  height: auto;
}

.sectionCreateGif .cameraContainer #projectionLight {
  display: none;
  width: 91px;
  height: auto;
  margin-left: 1px;
  -webkit-clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 64%);
          clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 64%);
  background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 22%, #50E3C2 100%);
}

.sectionCreateGif .canvasContainer {
  width: 95%;
  height: 53.85vw;
  margin: auto;
  border: 1px solid var(--font-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px auto 24px auto;
  position: relative;
}

.sectionCreateGif .canvasContainer #leftTopCorner {
  border-right: transparent;
  border-bottom: transparent;
  position: absolute;
  left: 10px;
  top: 10px;
}

.sectionCreateGif .canvasContainer #leftBottomCorner {
  border-right: transparent;
  border-top: transparent;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.sectionCreateGif .canvasContainer #rightTopCorner {
  border-left: transparent;
  border-bottom: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}

.sectionCreateGif .canvasContainer #rightBottomCorner {
  border-left: transparent;
  border-top: transparent;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.sectionCreateGif .canvasContainer .corner {
  border: solid 1px #50e3c2;
  width: 5vw;
  height: 5vw;
}

.sectionCreateGif .canvasContainer .canvasCamera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 95%;
  margin: auto;
}

.sectionCreateGif .canvasContainer .canvasCamera h2 {
  width: 95%;
  margin: 0;
  text-transform: none;
}

.sectionCreateGif .canvasContainer .canvasCamera p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: var(--font-color-secondary);
  line-height: 29px;
  text-align: center;
  text-transform: none;
}

.sectionCreateGif .canvasContainer .canvasCamera .canvasVideo {
  display: none;
  height: 45vw;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.sectionCreateGif .canvasContainer .canvasCamera #showVideo {
  display: none;
  width: 80%;
  height: 45vw;
  -webkit-transition: 1s;
  transition: 1s;
}

.sectionCreateGif .canvasContainer .canvasCamera #OverlayCard {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 77%;
  height: 45vw;
  margin: auto;
  margin: auto;
}

.sectionCreateGif .canvasContainer .canvasCamera #OverlayCard img {
  width: 32px;
  height: 32px;
  margin: 10px 10px 0 0;
}

.sectionCreateGif .canvasContainer .canvasCamera #OverlayInfoUpload {
  display: none;
  width: 72%;
  height: 45vw;
  margin: auto;
  margin: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCreateGif .canvasContainer .canvasCamera #OverlayInfoUpload p {
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
}

.sectionCreateGif .stepsContainer {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCreateGif .stepsContainer .containerSteps {
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionCreateGif .stepsContainer .containerSteps .btnStep {
  width: 32px;
  height: 32px;
  border: 1px solid var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: var(--font-color);
  letter-spacing: 0;
  border-radius: 50%;
  background: var(--color-primary);
}

.sectionCreateGif .stepsContainer #filmCrono, .sectionCreateGif .stepsContainer #filmRepeat {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 15px;
  color: var(--font-color);
}

.sectionCreateGif .stepsContainer #filmRepeat {
  display: none;
  margin: 0;
  font-size: 10px;
  text-decoration: underline;
  -webkit-text-decoration-color: #5ED7C6;
          text-decoration-color: #5ED7C6;
}

.sectionCreateGif .stepsContainer .filmContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  width: 100px;
}

.sectionCreateGif .stepsContainer .filmContainer #filmImg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40%;
  -webkit-transition: 1s;
  transition: 1s;
}

.sectionCreateGif .stepsContainer .filmContainer #filmTai {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30%;
}

.sectionCreateGif .btnCreateGif {
  margin-top: 10px;
  margin-bottom: 26px;
}

.sectionCreateGif .separator {
  width: 55.28%;
  height: 6px;
  background-color: var(--font-color);
  margin: 20px auto;
}
/*# sourceMappingURL=style.css.map */